{{ form_start(form, {
    'attr': {'class': 'lg:w-1/2'}}) }}
    {{ form_row(form.name, {
        'label_attr': {'class': 'font-bold mb-2'},
        'attr': {'class': 'border rounded p-2 mb-4 w-full'}}) }}
    {{ form_row(form.firstname, {
        'label_attr': {'class': 'font-bold mb-2'},
        'attr': {'class': 'border rounded p-2 mb-4 w-full'}}) }}
    {{ form_row(form.username, {
        'label_attr': {'class': 'font-bold mb-2'},
        'attr': {'class': 'border rounded p-2 mb-4 w-full'}}) }}
    {{ form_row(form.email, {
        'label_attr': {'class': 'font-bold mb-2'},
        'attr': {'class': 'border rounded p-2 mb-4 w-full'}}) }}
    {{ form_row(form.roles, {
        'label_attr': {'class': 'font-bold mb-2'},
        'attr': {'class': 'p-2 mb-4 w-full'}}) }}
    {% if app.request.attributes.get('_route') == "app_admin_user_new"  %}
        {{ form_row(form.plainPassword.first, {
            'label_attr': {'class': 'font-bold mb-2'},
            'attr': {'class': 'border rounded p-2 mb-4 w-full'}}) }}
        {{ form_row(form.plainPassword.second, {
            'label_attr': {'class': 'font-bold mb-2'},
            'attr': {'class': 'border rounded p-2 mb-4 w-full'}}) }}
    {% endif %}
<div class="flex">
    {% include 'admin/assets/button/btn_red.html.twig' with {'tag': 'button', 'text': text_btn} %}
    {{ form_end(form) }}
    {% if app.request.attributes.get('_route') == "app_admin_user_edit"  %}
        {% include 'admin/user/_delete_form.html.twig' %}
    {% endif %}
</div>



