<div class="flex flex-col justify-start w-full sm:w-[300px] gap-4">
  <label class="font-bold" for={{ id }}>{{ title }}</label>
  <input class="border rounded p-2" type={{ type }} id={{ id }} name={{ name }} value={{ value }}/>
</div>
