{% if app.user %}
    <div class="bg-primary hover:bg-secondary flex justify-center items-center rounded-lg px-4 py-2">
        <a class="flex font-bungee text-white" href="{{ path(route, {'username':username}) }}">
            {{ svg|raw }}
            {{ text }}
        </a>
    </div>
{% else %}
    <div class="border rounded-lg px-4 py-2 hover:text-white hover:bg-primary {% if controllerName == controller%}active{% endif %}">
        <a class="flex font-bungee justify-center items-center" href="{{ path(route) }}">
            {{ svg|raw }}
            {{ text }}
        </a>
    </div>
{% endif %}