{% set controllerName = app.request.attributes.get("_controller")|split('\\')[3]|split(':')[0] %}
{% set 
    navBarMenu = [
        ['DashboardController', 'app_admin_dashboard', 'dashboard', 'Tableau de bord'],
        ['UserController', 'app_admin_user', 'user', 'Utilisateurs'],
        ['TicketController', 'app_admin_ticket', 'ticket', 'Tickets'],
        ['TagController', 'app_admin_tag', 'tag', 'Tags'],
        ['LevelController', 'app_admin_level', 'level', 'Niveaux'],
    ]
%}
<nav class="bg-tertiary p-16 flex flex-col justify-between h-screen sticky top-0">
    <div class="flex flex-col gap-32">    
        <a href="{{ path('app_home') }}">
            <img width="200" src="/img/logo_admin.png">
        </a>
        <div class="flex flex-col h-max admin-menu">
            <ul class="flex flex-col gap-4">
                {% for item in navBarMenu %}
                    <li>
                        <a class="flex items-center gap-4 font-bungee text-xl {% if controllerName == item[0]  %}active text-tertiary bg-white{% else %}text-white hover:text-tertiary hover:bg-white{% endif %} rounded-lg p-4" href="{{ path('' ~ item[1] ~ '') }}">
                            {{ source('@admin_svg_path/' ~ item[2] ~ '.svg') }}
                            {{ item[3] }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div>
        <a class="group flex items-center gap-4 font-bungee text-xl text-white rounded-lg hover:text-tertiary hover:bg-white p-4" href="{{ path('app_logout') }}">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="group-hover:fill-tertiary" d="M5.88129 2.00098C3.67215 2.00098 1.88129 3.79184 1.88129 6.00098V17.999C1.88129 20.2082 3.67215 21.999 5.88129 21.999H14.1759C16.4817 21.999 18.0508 20.146 18.1688 17.9801C18.1759 17.8481 18.0498 17.7522 17.92 17.777C16.857 17.98 15.7163 17.6478 14.9256 16.7962C14.5499 16.3916 14.2948 15.9117 14.163 15.4075C14.139 15.3159 14.0579 15.2493 13.9632 15.2493L11.79 15.2494C9.99506 15.2495 8.53996 13.7945 8.53986 11.9995C8.53976 10.2046 9.99476 8.74946 11.7897 8.74938L13.9631 8.74928C14.0578 8.74927 14.1389 8.68264 14.1628 8.591C14.2944 8.08741 14.5489 7.60737 14.9256 7.20169C15.7163 6.35013 16.857 6.01794 17.92 6.22095C18.0498 6.24574 18.1759 6.14979 18.1687 6.01783C18.0507 3.85264 16.4802 2.00098 14.1759 2.00098H5.88129Z" fill="#FCFAF9"/>
                <path class="group-hover:fill-tertiary" d="M17.9412 8.7064L21.8038 11.2928L21.8154 11.3036C22.009 11.4833 22.119 11.7356 22.119 11.9997C22.119 12.2639 22.009 12.5161 21.8154 12.6959L21.8038 12.7067L17.9412 15.2931C17.5562 15.6382 16.9642 15.6124 16.611 15.232C16.4833 15.0945 16.4038 14.9287 16.3725 14.7563L16.3692 14.7382L16.3754 12.9499L11.7898 12.9502C11.2652 12.9502 10.8398 12.5249 10.8398 12.0002C10.8398 11.4755 11.2651 11.0502 11.7897 11.0502L16.3745 11.0499L16.3609 9.32841L16.362 9.31757C16.3821 9.11899 16.4649 8.92481 16.611 8.76746C16.9642 8.38708 17.5562 8.36122 17.9412 8.7064Z" fill="#FCFAF9"/>
            </svg>
            Déconnexion
        </a>
    </div>
</nav>




