{{ form_start(form) }}
    {{ form_row(form.title,{ 'attr': {
    'class' : 'appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
    {{ form_row(form.content,{ 'attr': {
        'class' : 'appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
    {{ form_row(form.tags,{ 'attr': {
    'class' : ''}}) }}
<button type="submit" class="btn">Envoyer</button>
{{ form_end(form) }}

