{% extends '/front/base.html.twig' %}

{% block title %}Hello TicketController!{% endblock %}

{% block body %}
    <div class="flex justify-center">
        <div class="basis-1/6"></div>
        <div class="basis-4/6">
            <div class="flex justify-between mb-5">
                <h1>Liste des tickets</h1>
                <p><a href="{{ path('app_ticket_new') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Ajouter un ticket</a></p>
            </div>
            {% for ticket in tickets %}
                <div class="flex justify-between mb-5">
                    <div>
                        <p>{{ ticket.title }}</p>
                        <p> Tags :
                        {% for tag in ticket.tags %}
                            #{{ tag.name }}
                        {% endfor %}
                        </p>
                        <a class="text-blue-500 hover:text-blue-800" href="{{ path('app_user_show', {'id':ticket.author.id}) }}">{{ ticket.author.username }}</a>
                    </div>
                    <div>
                        <a href="{{ path('app_ticket_show', {'id':ticket.id}) }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Voir</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="basis-1/6"></div>
    </div>
{% endblock %}
