{% extends '/front/base.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block body %}
    <div class="px-16 lg:px-64 py-16 flex justify-center">
        <div class="flex flex-col items-center gap-4">
            <div class="flex flex-col items-center gap-4">            
                <h1 class="font-bungee text-3xl">{{ ticket.title }}</h1>
                <div class="flex flex-wrap gap-x-16 gap-y-4">
                    <div class="flex items-center gap-4"><span class="font-bold">Auteur :</span><a href="{{ path('app_account_show', {username: ticket.author.username}) }}" class="text-graylight hover:text-primary">@{{ ticket.author.username }}</a></div>
                    <div class="flex items-center gap-4"><span class="font-bold">Statut :</span>{% include '/components/chips/_chips_primary.html.twig' with {'text': ticket.statut.name} %}</div>
                    <div class="flex items-center gap-4"><span class="font-bold">Date :</span><span class="text-graylight">{{ ticket.updatedAt|date('d M Y') }}</span></div>
                    <div class="flex items-center gap-4"><span class="font-bold">Tags :</span><span class="text-graylight">{% for tag in ticket.tags %}{{ tag.name }} {% endfor %}</span></div>
                </div>
            </div>

            {% if app.user and app.user.username == ticket.author.username %}
                <div class="flex justify-center gap-4 w-full">
                    {% if ticket.statut.id == 1  %}
                        {% include '/components/button/_btn_primary.html.twig' with {'tag': 'a', 'text': 'Editer le ticket', 'route': 'app_ticket_edit', 'route_parameter': {0:{'name':'uuid','value':ticket.uuid}}} %}
                        {% include 'front/ticket/_close_form.html.twig' %}
                    {% endif %}
                    {% include 'front/ticket/_delete_form.html.twig' %}
                </div>
            {% endif %}

            <div class="flex flex-col items-start gap-4 w-full">
                <p class="font-bungee text-xl">Question principale</p>
                {% include 'components/ticket/_ticket_content.html.twig' with {'comment': ticket }  %}
            </div>

            <div class="flex flex-col items-start gap-4 w-full">
                <p class="font-bungee text-xl"> {{ ticket.comments|length }} commentaires</p>
                <div class="flex flex-col items-start gap-4 w-full">
                    {% for comment in ticket.comments|sort((a, b) => a.updatedAt <=> b.updatedAt) %}
                        {% include 'components/comment/_comment.html.twig' with {'comment': comment }  %}
                    {% endfor %}
                </div>
            </div>

            {% if ticket.statut.id == 1  %}
                <div class="flex flex-col items-start gap-4 w-full">
                    <p class="font-bungee text-xl">Ajouter un commentaire</p>
                    {% include 'front/ticket/comment/_form.html.twig' with {'text_btn': "Ajouter mon commentaire"} %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
