<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('notification') }}
            {{ encore_entry_script_tags('menu') }}
        {% endblock %}
    </head>
    {% if app.request.attributes.get('_route') != "app_login" and app.request.attributes.get('_route') != "app_register"  %}
        {{ include('components/header/front/header.html.twig') }}
    {% endif %}
    <body>
        {% block body %}{% endblock %}
    </body>

    {% set notifications = app.flashes('notification') %}
    {% if notifications is not empty %}
        <div class="fixed bottom-4 grid gap-4 right-4">
            {% for i in 1..notifications[0]|length %}
                {% include 'components/notification/_notification.html.twig' with {
                    'number': i,
                    'message': notifications[0][i-1]
                } %}
            {% endfor %}
        </div>
    {% endif %}

</html>
