{% set rowClasses = 'flex flex-col items-start gap-4 w-full' %}
{% set inputClasses = 'border rounded-lg px-3 py-2 w-full' %}

{{ form_start(form, {
    'attr': {'class': 'flex flex-col gap-4 items-start w-[512px]'}}) }}
    {{ 
        form_row(
            form.name,
            {
                'label_attr': {'class': 'font-bold'},
                'attr': {'class': inputClasses},
                'row_attr': {'class': rowClasses }
            }
        )
    }}
    {{
        form_row(
            form.firstname, 
            {
                'label_attr': {'class': 'font-bold'},
                'attr': {'class': inputClasses},
                'row_attr': {'class': rowClasses}
            }
        )
    }}
    {{
        form_row(
            form.username,            
            {
                'label_attr': {'class': 'font-bold'},
                'attr': {'class': inputClasses},
                'row_attr': {'class': rowClasses}
            }
        )
    }}
    {{ 
        form_row(
            form.email, 
            {
                'label_attr': {'class': 'font-bold'},
                'attr': {'class': inputClasses},
                'row_attr': {'class': rowClasses}
            }
        )
    }}
    <div class="{{rowClasses}}">
        {{ form_label(form.picture, null, { 'label_attr' : { 'class' : 'font-bold' }}) }}

        <div class="flex items-center gap-4">
            {% if user.picture is not null %}
                <div class="w-[50px] h-[50px] rounded-full overflow-hidden flex items-center justify-center">
                    <img src="/uploads/users/pictures/{{ user.picture }}"/>
                </div>
            {% endif %}
            {{ form_row(form.picture, {
                'label_attr': {'class': 'hidden'},
                'attr': {'class': 'w-full file:border-0 font-bungee file:w-fit file:text-white file:bg-tertiary file:hover:bg-quartiary file:p-4 file:mr-4 file:rounded-xl'}}) }}
        </div>

    </div>
<div class="flex flex-col items-start gap-4">
    {% include 'components/button/_btn_primary.html.twig' with {'tag': 'button', 'text': text_btn} %}
    {{ form_end(form) }}
</div>
