<table class="table-auto rounded-lg overflow-hidden ring-2 ring-inset ring-black">
    <thead class="bg-black text-white">
    <tr>
        {% for title in titles %}
            <th class="text-start p-4">{{ title }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
        {% for data in datas %}
        <tr class="border-b-2 border-b-black">
            {% for value in data.data[0] %}
                <td class="p-4">
                    <a href="{% if route_edit %}{{ path(route_edit, {'id':data.id}) }}{% endif %}">
                        {% if value is iterable %}
                            <p class="{{ class[loop.index-1] }}">
                                {% for datavalue in value %}
                                    {{ loop.index == 2 ? " & " : "" }} {{ datavalue|slice(5,5) }}
                                {% endfor %}
                            </p>
                        {% else %}
                            <p class="{{ class[loop.index-1] }}">{{ value|raw }}</p>
                        {% endif %}
                    </a>
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>