<table class="table-auto rounded-lg overflow-hidden ring-2 ring-inset ring-black">
    <thead class="bg-black text-white">
    <tr>
        {% for title in titles %}
            <th class="text-start p-4">{{ title }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
        {% for data in datas %}
        <tr class="border-b-2 border-b-black duration-300 hover:bg-white hover:shadow-table">
            {% for value in data.data[0] %}
                <td class="p-4">
                    <a href="{% if route_edit %}{{ path(route_edit, {'id':data.id}) }}{% endif %}">
                        {% if value is iterable %}
                            <p class="{{ class[loop.index-1] }}">
                                {% for datavalue in value %}
                                    {{ datavalue }}
                                {% endfor %}
                            </p>
                        {% else %}
                            <p class="{{ class[loop.index-1] }}">{{ value|raw }}</p>
                        {% endif %}
                    </a>
                </td>
            {% endfor %}
            {% if hasComments is defined %}
                <td class="p-4">
                    <a href="{% if route_comment %}{{ path(route_comment, {'id':data.id}) }}{% endif %}">
                        {% include 'components/button/_btn_red.html.twig' with
                            {
                                'tag': 'a',
                                'text': 'Voir les commentaires',
                                'route': 'app_admin_ticket_comment',
                                'route_parameter': {0:{'name':'id','value':data.id}},
                                'tiny': true,
                            }
                        %}
                    </a>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>