{% set currentPage = app.request.pathinfo|split('/') %}
<nav class="header fs-16 w-100 py-3 px-5">
    <ul class="flex">
        <li class="mr-6">
            <a class="text-blue-500 hover:text-blue-800" href="{{ path('app_home') }}">Home</a>
        </li>
        <li class="mr-6">
            <a class="text-blue-500 hover:text-blue-800" href="{{ path('app_ticket') }}">Tickets</a>
        </li>
        <li class="mr-6">
            <a class="text-blue-500 hover:text-blue-800" href="{{ path('app_register') }}">S'inscrire</a>
        </li>
        <li class="mr-6">
            <a class="text-blue-500 hover:text-blue-800" href="{{ path('app_login') }}">Se connecter</a>
        </li>
        {% if app.user %}
            <li class="mr-6">
                <a class="text-blue-500 hover:text-blue-800" href="{{ path('app_logout') }}">Se déconnecter</a>
            </li>
            <li class="mr-6">
                <a class="text-blue-500 hover:text-blue-800" href="{{ path('app_user_show', {'id':app.user.id}) }}">Mon compte</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="mr-6">
                    <a class="text-blue-500 hover:text-blue-800" href="{{ path('app_admin_dashboard') }}">Admin</a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</nav>




