{% set rowClasses = 'flex flex-col items-start gap-4 w-full' %}
{% set inputClasses = 'border rounded-lg px-3 py-2 w-full' %}

{{ form_start(form, {
    'attr': {'class': 'flex flex-col gap-4 items-start w-full'}}) }}
    {{ 
        form_row(
            form.title,
            {
                'label_attr': {'class': 'font-bold'},
                'attr': {
                    'class': inputClasses,
                    'disabled': 'disabled',
                },
                'row_attr': {'class': rowClasses}
            }
        )
    }}
    <div class="{{ rowClasses }}">
        <label class="font-bold">Tags</label>
        <div class="flex flex-wrap gap-4">
            {% for label, value in field_choices(form.tags) %}
                <label>
                    <input
                        class="hidden peer"
                        type="checkbox"
                        name="{{field_name(form.tags)}}"
                        value="{{value}}"
                        disabled
                    />
                    <span class="flex items-center gap-4 before:content-[''] before:w-[20px] before:h-[20px] before:rounded-lg before:bg-white before:border-2 before:peer-checked:border-tertiary before:peer-checked:border-[6px]">
                        {{ label }}
                    </span>
                </label>
            {% endfor %}
        </div>
    </div>
    {{ 
        form_row(
            form.author,
            {
                'label_attr': {'class': 'font-bold'},
                'attr': {
                    'class': inputClasses,
                    'disabled': 'disabled',
                },
                'row_attr': {'class': rowClasses }
            }
        )
    }}
    {{ 
        form_row(
            form.content,
            {
                'label_attr': {'class': 'font-bold'},
                'attr': {
                    'class': inputClasses,
                    'disabled': 'disabled',
                },
                'row_attr': {'class': rowClasses }
            }
        ) 
    }}
<p><i>Si vous voulez ajouter du code, veuillez utiliser les balises < code > et < /code ></i></p>
