<div class="border bg-primarylight text-primary border border-primary rounded-xl p-4 mb-4 w-full">
    <div class="flex justify-between mb-4">
        <div class="flex items-center">
            <p class="hover:underline"><a href="{{ path('app_account_show', {'username':ticket.author.username}) }}">@{{ comment.author.username }} - {{ comment.author.level.name }}</a></p>
            <p class="px-2 opacity-50">{{ comment.updatedAt|ago(locale='fr')}}</p>
        </div>
    </div>
    {% set content = comment.content|html_entity_decode %}
    {% for co in content|getContentCommentArray %}
        {% if co.type == "code" %}
            <pre><code class="language-html">{{ co.content }}</code></pre>
        {% else %}
            {{ co.content|raw }}
        {% endif %}
    {% endfor %}
</div>