<div class="border rounded-2xl p-8 shadow-ticket duration-300 hover:shadow-ticket-hover hover:-translate-y-[4px]">
    <a class="flex flex-col gap-6 items-start" href="{{ path('app_ticket_show', {'uuid':ticket.uuid}) }}">
        <div class="flex flex-col gap-1 items-start w-full">        
            <div class="flex justify-between items-start w-full">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.04 0C31.4 0 40 9.31397 40 19.97C40 32.3285 29.92 40 20 40C16.72 40 13.08 39.1187 10.16 37.3961C9.14 36.7752 8.28 36.3145 7.18 36.675L3.14 37.8768C2.12 38.1973 1.2 37.3961 1.5 36.3145L2.84 31.8277C3.06 31.2068 3.02 30.5458 2.7 30.025C0.98 26.8603 0 23.3951 0 20.03C0 9.49424 8.42 0 20.04 0ZM29.18 17.4862C27.76 17.4862 26.62 18.6279 26.62 20.0501C26.62 21.4522 27.76 22.6139 29.18 22.6139C30.6 22.6139 31.74 21.4522 31.74 20.0501C31.74 18.6279 30.6 17.4862 29.18 17.4862ZM19.96 17.4862C18.56 17.4662 17.4 18.6279 17.4 20.03C17.4 21.4522 18.54 22.5939 19.96 22.6139C21.38 22.6139 22.52 21.4522 22.52 20.0501C22.52 18.6279 21.38 17.4862 19.96 17.4862ZM10.74 17.4862C9.32 17.4862 8.18 18.6279 8.18 20.0501C8.18 21.4522 9.34 22.6139 10.74 22.6139C12.16 22.5939 13.3 21.4522 13.3 20.0501C13.3 18.6279 12.16 17.4862 10.74 17.4862Z" fill="#6817FF"/>
                </svg>
                {% include '/components/chips/_chips_primary.html.twig' with {'text': ticket.statut.name} %}
            </div>
            <div class="flex flex-col items-start gap-2">
                <p class="font-bold">{{ ticket.title }}</p>
                <p class="text-graylight text-xs">par @{{ ticket.author.username }}</p>
            </div>
        </div>
        <div class="flex items-center gap-4">
            <p class="flex items-center gap-2 text-graylight text-sm items-center">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.3058 11.8559C15.7358 11.8559 15.2718 11.3919 15.2718 10.8219C15.2718 10.2519 15.7358 9.78686 16.3058 9.78686C16.8758 9.78686 17.3408 10.2519 17.3408 10.8219C17.3408 11.3919 16.8758 11.8559 16.3058 11.8559ZM12.2998 11.8559C11.7298 11.8559 11.2658 11.3919 11.2658 10.8219C11.2658 10.2519 11.7298 9.78686 12.2998 9.78686C12.8708 9.78686 13.3348 10.2519 13.3348 10.8219C13.3348 11.3919 12.8708 11.8559 12.2998 11.8559ZM8.29378 11.8559C7.72378 11.8559 7.25978 11.3919 7.25978 10.8219C7.25978 10.2519 7.72378 9.78686 8.29378 9.78686C8.86478 9.78686 9.32878 10.2519 9.32878 10.8219C9.32878 11.3919 8.86478 11.8559 8.29378 11.8559ZM17.3628 3.15186H7.24078C4.93078 3.15186 3.05078 5.03086 3.05078 7.34086V14.2569C3.05078 16.5659 4.93078 18.4459 7.24078 18.4459H8.30878C8.81178 18.4459 9.30378 18.6489 9.65678 19.0039L11.0788 20.4259C11.4058 20.7519 11.8398 20.9329 12.3018 20.9329C12.7628 20.9319 13.1978 20.7519 13.5228 20.4259L14.9448 19.0049C15.3048 18.6449 15.7848 18.4459 16.2938 18.4459H17.3628C19.6718 18.4459 21.5508 16.5659 21.5508 14.2569V7.34086C21.5508 5.03086 19.6718 3.15186 17.3628 3.15186Z" fill="#C9C9C9"/>
                </svg>
                {{ ticket.comments|length }}
            </p>
            <p class="flex items-center gap-2 text-graylight text-sm items-center">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.3302 11.263L13.6672 16.618C13.5672 16.94 13.2712 17.146 12.9512 17.146C12.8782 17.146 12.8032 17.135 12.7282 17.112C12.3332 16.989 12.1122 16.569 12.2352 16.173L13.5962 11.79H11.2372C10.8232 11.79 10.4872 11.454 10.4872 11.04C10.4872 10.626 10.8232 10.29 11.2372 10.29H14.6142C14.8522 10.29 15.0772 10.404 15.2182 10.596C15.3592 10.787 15.4012 11.035 15.3302 11.263ZM20.2942 5.327C19.5712 4.601 18.5402 4.193 17.3122 4.09V3.125C17.3122 2.711 16.9762 2.375 16.5622 2.375C16.1482 2.375 15.8122 2.711 15.8122 3.125V6.674C15.7472 6.692 15.6832 6.714 15.6112 6.714C15.1972 6.714 14.8612 6.378 14.8612 5.964V4.246C14.8612 4.13554 14.7717 4.046 14.6612 4.046H10.0392V3.125C10.0392 2.711 9.70317 2.375 9.28917 2.375C8.87517 2.375 8.53917 2.711 8.53917 3.125V6.674C8.47417 6.692 8.41017 6.714 8.33817 6.714C7.92417 6.714 7.58817 6.378 7.58817 5.964V4.49991C7.58817 4.36988 7.46561 4.27436 7.3411 4.31189C5.43239 4.88709 4.32617 6.43696 4.32617 8.724V16.87C4.32617 19.848 6.11817 21.625 9.11917 21.625H16.7322C19.7342 21.625 21.5252 19.873 21.5252 16.938V8.726C21.5292 7.314 21.1042 6.139 20.2942 5.327Z" fill="#C9C9C9"/>
                </svg>
                {{ ticket.updatedAt|date("d M Y") }}
            </p>
        </div>
        <div class="flex items-center gap-4">
            {% for tag in ticket.tags %}
                <div class="flex items-center gap-2 text-graylight text-sm items-center">
                    <svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.66164 6.3245C8.65564 7.6095 7.59865 8.6535 6.30565 8.6535H6.29965C5.67565 8.6525 5.08565 8.4035 4.63965 7.9545C4.19665 7.5075 3.95365 6.9215 3.95765 6.3035C3.96465 4.9815 5.00665 3.9505 6.33165 3.9505H6.34265C7.62565 3.9545 8.66564 5.0185 8.66164 6.3235V6.3245ZM18.4416 8.2425C16.4016 6.1975 14.3586 4.1545 12.3136 2.1125C11.2526 1.0535 9.95864 0.514504 8.47064 0.513504H8.15264C4.81665 0.500504 3.61865 0.522504 3.39065 0.562504C1.75765 0.844504 0.522651 2.3085 0.519651 3.9705L0.514651 4.6245C0.503651 5.9055 0.483651 8.2895 0.554651 9.0515C0.667651 10.2795 1.17665 11.3565 2.06565 12.2525C4.12165 14.3205 6.18465 16.3785 8.24864 18.4355C8.95264 19.1385 9.85564 19.4905 10.7586 19.4905C11.6496 19.4905 12.5396 19.1465 13.2326 18.4595C14.9846 16.7235 16.7296 14.9795 18.4666 13.2265C19.8496 11.8305 19.8396 9.6405 18.4416 8.2425Z" fill="#231942"/>
                    </svg>
                    {{ tag.name }}
                </div>
            {% endfor %}
        </div>
    </a>
</div>